"*":
  "color-picker":
    preferredFormat: "HEX"
  core:
    ignoredNames: [
      ".sass-cache"
      ".git"
      ".DS_Store"
      "node_modules"
      ".jekyll-metadata"
      "Gemfile.lock"
      "npm-debug.log*"
      ".keep"
      ".byebug_history"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "input mono"
    fontSize: 18
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "b0b46957-3dff-7a8d-47a4-c22f5de7b8ae"
  "file-icons":
    coloured: false
    forceShow: true
    onChanges: true
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
    useGlobalEslint: true
  "one-dark-ui":
    layoutMode: "Spacious"
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    markerType: "dot"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
