"*":
  core:
    ignoredNames: [
      ".sass-cache"
      ".git"
      ".DS_Store"
      "node_modules"
      ".jekyll-metadata"
      "Gemfile.lock"
      "npm-debug.log"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox-syntax"
    ]
  editor:
    fontFamily: "input mono"
    fontSize: 17
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "b0b46957-3dff-7a8d-47a4-c22f5de7b8ae"
  "file-icons":
    forceShow: true
    onChanges: true
  "one-dark-ui": {}
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
